<% layout('layout') -%>

<style type="text/css">
    table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
  width: 80px;
  height: 30px;
}

</style>

<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>X</td>
    <td>Y</td>
    <td>Desired X</td>
    <td>Desired Y</td>
    <td>Active</td>
  </tr>
  <% for(var i=0; i<cars.length; i++) {%>
   <tr>
    <td>
       <%= cars[i].id%>
     </td>
     <td>
       <%= cars[i].name%>
     </td>
     <td>
       <%= cars[i].x%>
     </td>
     <td>
       <%= cars[i].y%>
     </td>
     <td>
       <%= cars[i].desiredX%>
     </td>
     <td>
       <%= cars[i].desiredY%>
     </td>
     <td>
       <%= cars[i].active%>
     </td>
   </tr>
<% } %>
</table>
