<% layout('layout') -%>

<style type="text/css">
    table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
  width: 80px;
  height: 30px;
}

</style>

<table id="data-table">
    <tr>
        <td colspan="3" style="text-align:center">There are no items to list...</td>
    </tr>
    </tbody>
</table>


<script type="text/javascript">
$(document).ready(function(e) {
    var data = <%- carMap %>;
    function loadTable(tableId, data) {
      console.log('In event loadTable', data);
        //$('#' + tableId).empty(); //not really necessary
        var rows = '';
        $.each(data, function(x, item) {
            var row = '<tr>';
            $.each(item, function(y, field) {
            	var display = data[x][y] ? data[x][y] : '';
                row += '<td>' + display + '</td>';
            });
            rows += row + '<tr>';
        });
        $('#' + tableId + ' tbody').html(rows);
    }

  loadTable('data-table', data);

  var exampleSocket = new WebSocket("ws://"+location.hostname+":"+location.port+"/ws-stuff/echo", "protocolOne");
  exampleSocket.onopen = function (event) {
    //exampleSocket.send("Here's some text that the server is urgently awaiting!");
  };
  exampleSocket.onmessage = function (event) {
    console.log(event);
    console.log(event.data);
    var data = JSON.parse(event.data);
    console.log(data);
    loadTable('data-table',data.carMap);
  }
});
</script>
